
.App {
  margin: auto;
  text-align: center;
  height: 100vh;
}

.animal-image {
  width: 100vw;
  height: auto;
  cursor: pointer;
}

.placeholder {
  margin: auto;
  width: auto;
  height: 100vh;
}

.status-box {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(192, 195, 192, 0.5);
  padding: 0;
}

.status-box > h1 {
  width: 100px;
  margin: auto;
}

.status-box > * {
  margin: auto;
  margin-bottom: 2rem;
}

.animal-targets {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 108, 224);
  margin: 0;
  padding: 1rem;
}

.animal-targets > *{
  display: flex;
  font-size: 1.4rem;
  padding: 0.1rem;
}

.animal-targets label {
  margin-top: -4px;
  margin-left: 10px;
  margin-right: 10px;
}

.animal-targets .found {
  color: white;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.next-pic-button {
  margin: auto;
  width: 120px;
  height: 40px;
  border: 0;
  background-color: rgb(41, 108, 224);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
}

.next-pic-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.target-box {
  position: absolute;
  width: 50px;
  height: 50px;
  background: none;
  border: 4px solid red;
  border-radius: 10px;
  padding-right: 15px;
}

select.decorated {
  overflow: hidden;
  margin-top: 0px;
}

select.decorated option:hover {
  box-shadow: 0 0 10px 100px #8fcce2 inset;
}

@keyframes wrong-animation {
  from {background-color: red;}
  to {background-color: none;}
}

@keyframes correct-animation {
  from {background-color: green;}
  to {background-color: none;}
}

.wrong {
  animation-name: wrong-animation;
  animation-duration: 3s;
}

.correct {
  animation-name: correct-animation;
  animation-duration: 3s;
} 

.instructions {
  margin: auto;
  line-height: 5rem;
}

.timer-box {
  margin: auto;
  width: 100px;
  background: white;
  border-radius: 5px;
}

.timer-box > h1 {
  padding: 3px;
  width: auto;
  margin: auto;
  font-variant-numeric: tabular-nums;
  height: auto;
}

.winning-time {
  background-color: green;
}

.losing-time {
  background-color: red;
}

.score-container {
  height: 100%;
  margin: auto;
  margin-left: 1rem;
  background-color: white;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.score-container > h3 {
  text-decoration: underline;
  margin: 0;
  margin-top: 10px;
}

.score-row {
  margin: auto;
  margin-top: 5px;
}

@media only screen and (max-width: 750px) {
  .placeholder {
    width: 100vw;
    height: auto;
  }
  .instructions {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .animal-targets {
    padding: 0rem;
    padding-top: 5px;
  }
  .animal-targets > *{
    font-size: 1rem;
  }
  .animal-targets label {
    margin-top: -2px;
    margin-left: 2px;
  }
  input[type=checkbox] {
    transform: scale(1);
  }
  .animal-image {
    width: 100vw;
    height: 100vh;
    cursor: pointer;
  }
}

@media only screen and (max-width: 400px) {
  .status-box > h1 {
    font-size: 1.5rem;
  }
  .animal-targets {
    padding: 0rem;
    padding-top: 5px;
  }
  .animal-targets > *{
    font-size: 0.7rem;
  }
  .animal-targets label {
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 4px;
  }
}