
.App {
  margin: auto;
  text-align: center;
}

.animal-image {
  width: 100vw;
  height: auto;
  cursor: pointer;
}

.button {
  border: 0;
  background-color: rgb(41, 108, 224);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.blurred-image {
  filter: blur(5px);
}

.status-box {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: rgba(192, 195, 192, 0.5);
  padding: 0;
  height: 5rem;
  border: none !important;
}

.status-box > h1 {
  width: auto;
  margin: auto;
}

.target-box {
  position: absolute;
  width: 50px;
  height: 50px;
  background: none;
  border: 3px solid red;
  padding-right: 15px;
}

@keyframes wrong-animation {
  from {background-color: red;}
  to {background-color: none;}
}

@keyframes correct-animation {
  from {
    background-color: green;
  }
  to {
    background-color: none;
  }
}

.wrong {
  animation-name: wrong-animation;
  animation-duration: 3s;
}

.correct {
  animation-name: correct-animation;
  animation-duration: 3s;
} 

.timer-elements {
  display: flex;
}

.timer-box {
  margin: auto;
  width: 100px;
  background: white;
  border-radius: 5px;
}

.timer-box > h1 {
  width: auto;
  margin: auto;
  font-variant-numeric: tabular-nums;
}

.winning-time {
  color: green;
}

.losing-time {
  color: red;
}

@keyframes winning-animation {
  from {transform: scale(1.7);}
  to {transform: scale(1);}
}

.score-container {
  height: 100%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 5px;
  padding-right: 5px;
}

.score-container > h1 {
  color: black;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 15px;
}

.score-row {
  font-size: 1.2rem;
  color: white;
  margin: auto;
  margin-top: 10px;
}

.hidden-modal {
  display: none;
}

.start-modal {
  position: relative;
  margin: auto;
  margin-top: 2rem;
  width: 70%;
  padding: 1rem;
}

.start-modal .instructions {
  padding: 1.5rem;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.start-modal .tutorial-gif {
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  height: auto;
}

.start-modal .tutorial-title {
  margin: auto;
}


.score-modal {
  position: fixed;
  top: 15rem;
  width: 30%;
  margin-left: 35%;
  height: auto;
  background-color:rgba(192, 195, 192, 0.5);
  border-radius: 10px;
}

.score-modal .input-score-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.score-modal .input-score-container > input {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  text-indent: 10px;
  background-color: white;
}

.score-modal .input-score-container .submit-button {
  margin: auto;
  height: 40px;
  width: auto;
}

@media only screen and (max-width: 750px) {
  .start-modal {
    margin-top: 0;
    width: 80%;
  }
  .start-modal .instructions {
    width: 80%;
    padding-top: 0.5rem;
    font-size: 1.2rem;
  }

  .start-modal .tutorial-gif {
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    height: auto;
  }

  .score-modal {
    top: 30%;
    margin-left: 15%;
    width: 70%;
    height: auto;
  }
  .status-box > *{
    width: 90%;
  }
  .status-box button {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .animal-image {
    width: 100vw;
    height: 100vh;
    cursor: pointer;
  }
}

@media only screen and (max-width: 400px) {
  .status-box > h1 {
    font-size: 1.5rem;
  }
}